/* Pre-Styling */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Nunito Sans', sans-serif;
}


:root {
  
  --background: #121212;

  --black: rgb(20,20,20);
  --dark-gray: rgb(75,75,75);
  --light-gray: rgb(185,185,185);
  --white: rgb(255, 255, 255);

}  

/*CSS for light bulb */

body {
  background: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow-x:hidden;
  font-size: 100%;
  color: var(--white);
}

hr{
    border-bottom:2px solid rgb(68, 169, 209);
    margin-left:100px;
    margin-right:100px;
}

body{
    overflow-x:hidden;
}


html{
    scroll-behavior: smooth;
}

html.sr .load-hidden {
    visibility: hidden;
}



/* End of Pre Styling */

/*NavBar*/

.nav-container
{
    font-size:16px;
    font-family:'Roboto',sans-serif;
}


nav{
    margin-bottom:50px;
}

.navbar-brand{
    margin-left:25px;
}

.navbar-custom .navbar-brand{
    color:#000;
}

.navbar-nav{
  margin-right:160px;
}
/* 
.navbar-nav{
    margin-top:25px;
} */

.navbar-nav > li{
    padding-left:25px;
    padding-right:25px;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler i:focus {
      outline: none;
      box-shadow: none;
  }
/* 
  .navbar-toggler:focus, .navbar-toggler:active {
outline: none;
box-shadow: none;
} */

  /* .navbar-light .navbar-toggler{
    outline:none;
    border:1px solid transparent;
  } */
/* 
  #reviews{
    margin-right:90px;
  } */
  /* .navbar-nav > li:hover{
      border-bottom:2px solid #121212;
      padding-right:0;
} */


a.nav-link:hover{
  border-bottom:2px solid rgb(68, 169, 209);
}

.logo a{
    text-decoration: none;
    cursor:pointer;
}

.navbar-default {
    background-color: none !important;
}

.nav-link {
    color:rgb(199, 199, 199);
    font-weight:bolder;
}

.nav-link:hover{
  color:rgb(199,199,199);
  font-size:20px;
}

.dark-bulb button:focus 
{
  outline: none;
  box-shadow:none;
}
.dark-bulb button{
  animation: vibrate 2s  10 ;
}
 
@keyframes vibrate {
  0%, 20%, 50%, 80%, 100% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
}
/*End of navbar */

/* Home */

.home-container{
    margin-top:15vh;
    height:65vh;
}

.home-text{
    padding-right:100px;
}
.home-image{
    padding-left: 100px;
}

.home-text h1{
    font-weight:bolder;
}
.home-text h4{
    font-weight:500;
    color:rgb(68, 169, 209);
}

/* #Home{
    margin-top:6vh;
} */


/*About */

.about-container{
    height:50vh;
    margin-top:20vh;
}

.about-text{
    padding-left:100px;
}
.about-image{
    padding-right: 100px;
}

.about-text h1{
    font-weight:bolder;
    color:rgb(68, 169, 209);
}

/* Symptoms */

.symptoms-container {
    height: 50vh;
    /* margin-top: 20vh; */
    margin-top: 10vh;
    margin-bottom: 10vh;
}




/*Media Queries */

@media(max-width:1024px)
{
    .navbar-brand{
        margin-left:0px;
    }
        
        a.nav-link:hover{
            border-bottom:2px solid transparent;
            font-weight:bold;
          }

          .home-container{
            height:60vh;
          }

          .home-text{
            padding-right:10px;
        }
        .home-image{
            padding-left: 0px;
        }

        .about-container{
            height:50vh;
            margin-top:10vh;
            margin-bottom:10vh;
        }
    
        .about-text{
            padding-left:10px;
        }
        .about-image{
            padding-right: 75px;
        }

}


@media(max-width:768px)
{
    

    hr{
        display:none;
    }
      
    *{
        font-size:14px;
    }

        
.navbar-brand{
    margin-left:0px;
}
    
    a.nav-link:hover{
        border-bottom:2px solid transparent;
        font-weight:bold;
      }

    .home-text{
        padding-right:10px;
    }
    .home-image{
        padding-left: 0px;
    }

    .about-text{
        padding-left:10px;
    }
    .about-image{
        padding-right: 0px;
    }
    
    .about-container{
        margin-top:10vh;
        margin-bottom:10vh;
    }

    .symptoms-container{
    margin-bottom: 20vh;
    }
}


/* Footer */

.footer_bg_1 {
    background:linear-gradient(to bottom, rgb(146, 146, 146),#000);
  }

  .icons:hover
  {
    color:purple;
  }
  
  .footer {
    background-repeat: no-repeat;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
  }
  .footer ul li{
    list-style-type: none;
  }
  .footer .circle_ball {
    position: absolute;
    top: -85px;
    left: 10px;
  }
  .footer img{
      margin-bottom: 50px;
      transition: all 2s ease-in-out;
  }
  .footer img:hover{
       transform: rotate(360deg);
   }
   [data-aos="rotate-ac"] {
    transform: rotate(720deg);
    transition-property: transform;
    
    }
    [data-aos="rotate-ac"].aos-animate {
    transform: rotate(0deg);
    }

   

  .footer .footer_top {
    padding-top: 105px;
    padding-bottom: 50px;
  }
  .fa-arrow-up{
      background: white;
      font-size: 40px;
      padding:10px;
      border: 1px solid white;
      border-radius: 1500px;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  @media (max-width: 767px) {
    .footer .footer_top {
      padding-top: 60px;
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .footer .footer_top .footer_widget {
      margin-bottom: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .footer .footer_top .footer_widget {
      margin-bottom: 30px;
    }
  }
  
  .footer .footer_top .footer_widget h2 u{
      font-size: 25px;
  }

  @media (max-width: 767px) {
    .footer .footer_top .footer_widget .footer_logo {
      margin-bottom: 20px;
    }
  }
  .footer .footer_top .footer_widget h2 u{
    font-size: 20px;
  }
  
  .footer .footer_top .footer_widget p {
    color: #fff;
    line-height: 42px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .footer .footer_top .footer_widget p.footer_text {
    font-size: 16px;
    color: #B2B2B2;
    margin-bottom: 23px;
    font-weight: 400;
    line-height: 28px;
  }
  
  .footer .footer_top .footer_widget p.footer_text a.domain {
    color: #B2B2B2;
    font-weight: 400;
  }
  
  .footer .footer_top .footer_widget p.footer_text a.domain:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  
  .footer .footer_top .footer_widget p.footer_text.doanar a {
    font-weight: 500;
    color: #B2B2B2;
  }
  
  .footer .footer_top .footer_widget p.footer_text.doanar a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  
  .footer .footer_top .footer_widget p.footer_text.doanar a.first {
    margin-bottom: 10px;
  }
  .footer .footer_top .footer_widget ul li a {
    font-size: 16px;
    color: #fff;
    line-height: 42px;
  }
  .footer .footer_top .footer_widget ul li a:hover {
    color: #0181F5;
  }

  
  .footer .copy-right_text {
    padding-bottom: 30px;
  }
  
  
  .footer .copy-right_text .footer_border {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 30px;
  }

  .footer .copy-right_text .copy_right {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
  }
  
  @media (max-width: 767px) {
    .footer .copy-right_text .copy_right {
      font-size: 14px;
    }
  }
